TRUSTCXR_PROJECT_ROOT=F:\AI\TrustCXR
TRUSTCXR_DATA_ROOT=F:\AI\TrustCXR\TrustCXR-Data
TRUSTCXR_ARTIFACT_ROOT=F:\AI\TrustCXR\artifacts
TRUSTCXR_CHECKPOINT_ROOT=F:\AI\TrustCXR\checkpoints
TRUSTCXR_LOG_ROOT=F:\AI\TrustCXR\logs